*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(30, 38%, 92%);
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40em;
    min-width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: start;
    font-family: 'Fraunces', serif;
    line-height: .9;
    margin-right: 1em;
}

#upperP {
    text-transform: uppercase;
    letter-spacing: .4em;
}


p {
    align-self: flex-start;
    text-align: start;
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

#leftUpper{
    background-image: url(./images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 20em;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

#rightLower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30em;
    width: 20em;
    padding-inline: 2em;
}

#prices {
    display: flex;
    gap: 1.5em;
    transform: translateX(-1em);
}

#price {
    font-size: 2em;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

#priceOld {
    text-decoration: line-through;
    transform: translateY(1.6em);
}

#addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border-radius: 10px;
  font-weight: 700;
  width: 80%;
  height: 10%;
  text-decoration: none;
  cursor: pointer;
}

#addToCart:hover{
    background-color: hsl(158, 42%, 18%);
}

#cart {
  background-image: url(./images/icon-cart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

#textCart{
    color: white;
    font-weight: 700;
}

footer{
    margin-top: 10px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        width: 90%;
    }

    #leftUpper {
        background-image: url(./images/image-product-mobile.jpg);
        background-size: cover;
        height: 250px;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    #rightLower {
        width: 100%;
        height: auto;
        padding: 1.5em;
        border-radius: 0 0 10px 10px;
        align-items: center;
        text-align: center;
    }

    #prices {
        justify-content: center;
        transform: none;
    }
}
